{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-7 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Find the right training program for you
                </h1>
                <p class="lead text-black mt-3">
                    Answer a few quick questions and get a personalised recommendation.
                </p>

                <div class="my-5">
                    <a href="{% url 'training_quiz' %}" class="btn btn-dark btn-lg rounded-0 text-uppercase py-3">
                        Choose a Program →
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}