{% extends "account/auth_base.html" %}
{% load static %}

{% block extra_css %}
<style>

body{
    background:#0f0f0f !important;
    background-image:none !important;
}

/* center login card */
.auth-wrapper{
    min-height:80vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* login card */
.auth-card{
    background:#111;
    padding:40px;
    width:420px;
    border-radius:10px;
    box-shadow:0 0 25px rgba(0,0,0,0.8);
    border:1px solid #222;
}

/* title */
.auth-card h2{
    color:white;
    text-align:center;
    margin-bottom:30px;
}

/* inputs */
.auth-card input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #333;
    background:#1a1a1a;
    color:white;
}

.auth-card label{
    color:#ddd;
}

.auth-card p{
    color:#ddd;
}

.auth-back{
    color:#ddd;
    text-decoration:none;
}

.auth-back:hover{
    color:#fff;
}

.auth-card input:focus{
    outline:none;
    border-color:#F527A9;
    box-shadow:0 0 8px #F527A9;
}

/* button */
.auth-btn{
    width:100%;
    padding:12px;
    background:linear-gradient(90deg,#F527A9,#FF79C6);
    border:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

.auth-btn:hover{
    transform:scale(1.03);
    box-shadow:0 0 12px #F527A9;
}

/* links */
.auth-links{
    margin-top:15px;
    text-align:center;
}

.auth-links a{
    color:#17a2b8;
}

.auth-links a:hover{
    color:white;
}

</style>
{% endblock %}


{% block content %}

<div class="auth-wrapper">

<div class="auth-card">

    <a href="{% url 'home' %}" class="auth-back">
        <span class="back-icon">←</span>
        Back
    </a>

<h2>Login</h2>

<form method="POST" action="{% url 'account_login' %}">
{% csrf_token %}

{{ form.as_p }}

<button type="submit" class="auth-btn">
Login
</button>

</form>

<div class="auth-links">

<p>
Don't have an account?
<a href="{% url 'account_signup' %}">Register</a>
</p>

</div>

</div>

</div>

{% endblock %}