{% extends "account/auth_base.html" %}
{% load static %}

{% block extra_css %}
<style>
body{
background:#0f0f0f !important;
background-image:none !important;
}
</style>
{% endblock %}

{% block content %}

<div class="auth-wrapper">

<div class="auth-card text-center">

<h2>Logout</h2>

<p style="color:#aaa;">Are you sure you want to logout?</p>

<form method="POST" action="{% url 'account_logout' %}">
{% csrf_token %}

<button class="auth-btn">
Logout
</button>

</form>

</div>

</div>

{% endblock %}